@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Variáveis de cores do site */
/* Mixin para deixar a página responsiva.*/
/* Importa os outros arquivos de estilização da página */
.header {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)), url(../images/hero.jpeg) center/cover no-repeat;
}
.header__container {
  background-color: #040e16d4;
}
.header__navbar {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.header__navbar-fixed {
  padding: 1.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #233F6A;
  box-shadow: 0 5px 15px #0000001A;
  z-index: 999 !important;
}
.header__navbar-fixed .header__link {
  color: #E7E8E9;
}
@media (min-width: 375px) and (max-width: 540px) {
  .header__navbar {
    display: block;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .header__navbar {
    display: block;
  }
}
.header__action {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  height: 100px;
}
.header__button {
  display: none;
  font-size: 1.5rem;
  color: #E7E8E9;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
@media (min-width: 375px) and (max-width: 540px) {
  .header__button {
    display: block;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .header__button {
    display: block;
  }
}
.header__links-container {
  transition: all 0.3s linear;
}
@media (min-width: 375px) and (max-width: 540px) {
  .header__links-container {
    overflow: hidden;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .header__links-container {
    overflow: hidden;
  }
}
.header__list {
  display: flex;
  font-size: 1.8rem;
  padding: 2rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .header__list {
    display: block;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .header__list {
    display: block;
  }
}
.header__link {
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  transition: all 0.3s linear;
  font-weight: bold;
  color: #E7E8E9;
}
.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #E7E8E9;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.header__link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}
.header__tittle {
  font-size: 3rem;
  color: #E7E8E9;
}
@media (min-width: 541px) and (max-width: 999px) {
  .header__tittle {
    margin-top: -28rem;
  }
}
.header__tittle_bold {
  font-weight: bold;
}
.header__effect {
  font-weight: 500;
  font-size: 1.8rem;
  padding: 1rem;
  color: #E7E8E9;
}
.header__social {
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}
.header__social :hover {
  transform: scale(1.1);
}
.header__github, .header__codepen, .header__linkedin, .header__email {
  width: 4.5rem;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1.8rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .header__github, .header__codepen, .header__linkedin, .header__email {
    width: 3rem;
  }
}

@media (min-width: 375px) and (max-width: 540px) {
  .about {
    margin-top: -2.4rem;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .about {
    margin-top: -1rem;
  }
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #1E1E1E;
  height: auto;
}
.about__h2 {
  font-size: 1.8rem;
  padding-top: 3rem;
  color: #E7E8E9;
  text-align: center;
}
.about__my {
  display: flex;
  justify-content: center;
}
.about__picture {
  width: 20rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .about__picture {
    width: 50%;
    margin: auto;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .about__picture {
    width: 40%;
    margin: auto;
  }
}
.about__informations {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about__text {
  width: 50%;
  line-height: 2rem;
  color: #E7E8E9;
  font-size: 1.1rem;
  margin: 0.5rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .about__text {
    width: auto;
    padding: 1rem;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .about__text {
    width: auto;
    padding: 1rem;
  }
}

.skills {
  background: #1E1E1EEA;
  height: auto;
}
@media (min-width: 375px) and (max-width: 540px) {
  .skills {
    height: auto;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .skills {
    height: auto;
  }
}
.skills__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.8rem;
  padding: 2rem;
  margin-top: 3rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .skills__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .skills__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.skills__skills {
  text-align: center;
  color: #E7E8E9;
  font-size: 1.8rem;
  padding-top: 3rem;
}
.skills__list {
  position: relative;
  display: inline-block;
  padding: 30px;
  margin: 0 auto;
}
.skills__experience {
  color: #E7E8E9;
  text-align: center;
  padding: 1rem;
  font-size: 1.8rem;
}
.skills__badges {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
.skills__img {
  width: 15%;
}

.portfolio__container {
  background-color: #1E1E1E;
  height: auto;
  padding: 1rem;
}
.portfolio__h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #E7E8E9;
  padding-top: 1rem;
}
.portfolio__projects {
  display: grid;
  align-items: center;
  grid-template-areas: "portfolio__img";
  grid-template-columns: repeat(3, 1fr);
  padding: 1.5rem 2.5rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .portfolio__projects {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .portfolio__projects {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
}
.portfolio__link {
  text-decoration: none;
}
.portfolio__img {
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.6rem #1E1E1E;
  border: 1px solid #E7E8E9;
  width: 180%;
  transition: 1s;
}
.portfolio__img:hover {
  box-shadow: 5px 5px #E7E8E9;
  transform: translateY(-10px) scale(1);
}
@media (min-width: 541px) and (max-width: 999px) {
  .portfolio__img {
    width: 110%;
  }
}
.portfolio__text {
  color: #E7E8E9;
  font-size: 1.2rem;
  padding-top: 1rem;
  text-transform: capitalize;
}
@media (min-width: 375px) and (max-width: 540px) {
  .portfolio__text {
    font-size: 1rem;
  }
}
.portfolio__load {
  display: flex;
  background: #394E6D;
  border: 2px solid #E7E8E9;
  border-radius: 5px;
  color: #E7E8E9;
  width: 5%;
  padding: 0.5rem;
  margin: 0 auto;
  transition: 1s;
}
.portfolio__load:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 0.5rem -0.4rem #394E6D;
  transform: translateY(-0.5em);
  background-color: #1A293F;
}
@media (min-width: 375px) and (max-width: 540px) {
  .portfolio__load {
    width: auto;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .portfolio__load {
    width: auto;
  }
}

.btn {
  display: grid;
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: #233F6A;
  width: 3rem;
  height: 3rem;
  place-items: center;
  border-radius: 0.5rem;
  color: #E7E8E9;
  visibility: hidden;
  z-index: 100;
  text-decoration: none;
}
.btn:hover {
  cursor: pointer;
  background-color: #1A293F;
}
.btn.show {
  opacity: 1;
  visibility: visible;
}

.animation {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
}
.animation__scroll {
  color: #E7E8E9;
  margin: 0.5rem;
}
.animation__mouse {
  display: flex;
  width: 25px;
  height: 50px;
  border: 2px solid #FFF;
  border-radius: 20px;
}
.animation__mouse-wheel {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #FFF;
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}
@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #394E6D;
  color: #E7E8E9;
  height: 15rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
}
.footer__name {
  font-size: 2rem;
  padding: 0.5rem;
}
.footer__name_bold {
  font-weight: bold;
}
.footer__copy, .footer__rights {
  font-size: 0.7rem;
  padding: 0.5rem;
}
.footer__links {
  text-decoration: none;
}
.footer__github, .footer__codepen, .footer__linkedin, .footer__email {
  width: 2.5rem;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1.8rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .footer__github, .footer__codepen, .footer__linkedin, .footer__email {
    width: 2rem;
  }
}
.footer__github:hover, .footer__codepen:hover, .footer__linkedin:hover, .footer__email:hover {
  transform: scale(1.1);
}

html, body {
  font-family: "Roboto", serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1E1E1EEA;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: #394E6D;
  border-radius: 30px;
  visibility: visible;
}

.preloader {
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #E7E8E9;
  z-index: 999;
  transition: all 3s;
}

.hide-preloader {
  z-index: 999;
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */
