@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arima&family=Roboto&display=swap");
@import url("../css/reset.css");
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
/* Variáveis de cores do site */
/* Mixin para deixar a página responsiva.*/
/* Importa os outros arquivos de estilização da página */
.header {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)), url(../images/header.jpeg) center/cover no-repeat;
}
.header__container {
  background-color: #040e16d4;
}
.header__navbar {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.header__navbar-fixed {
  padding: 1.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #233F6A;
  box-shadow: 0 5px 15px #0000001A;
  z-index: 999 !important;
}
.header__navbar-fixed .header__link {
  color: #E7E8E9;
}
@media (min-width: 375px) and (max-width: 540px) {
  .header__navbar {
    display: block;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .header__navbar {
    display: block;
  }
}
.header__action {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  height: 100px;
}
.header__links-container {
  transition: all 0.3s linear;
}
@media (min-width: 375px) and (max-width: 540px) {
  .header__links-container {
    overflow: hidden;
    height: 0;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .header__links-container {
    overflow: hidden;
    height: 0;
  }
}
.header__list {
  display: flex;
  font-size: 1.8rem;
  padding: 2rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .header__list {
    display: block;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .header__list {
    display: block;
  }
}
.header__link {
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  transition: all 0.3s linear;
  font-weight: bold;
  color: #E7E8E9;
}
.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #E7E8E9;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.header__link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background: #00000070;
}
.header__tittle {
  font-size: 3rem;
  color: #E7E8E9;
  font-family: "Roboto", sans-serif;
}
.header__tittle_bold {
  font-weight: bold;
}
.header__effect {
  font-weight: 500;
  font-size: 1.8rem;
  padding: 1rem;
  color: #E7E8E9;
}
.header__wrapper a {
  color: #E7E8E9;
}
.header__social {
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}
.header__btn {
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin: 1rem 0.5rem 0rem 0rem;
  width: 80px;
  height: 80px;
  line-height: 84px;
  border-radius: 50%;
  position: relative;
  color: #E7E8E9;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 300ms;
}
.header__btn::after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  box-sizing: content-box;
  box-shadow: 0 0 0 3px #E7E8E9;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 300ms;
}
.header__btn:hover {
  background-color: #E7E8E9;
  color: #1E1E1E;
}
.header__btn:hover::after {
  opacity: 1;
  transform: scale(1.15);
}

.header__button {
  display: none;
  color: #E7E8E9;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
@media (min-width: 375px) and (max-width: 540px) {
  .header__button {
    display: block;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .header__button {
    display: block;
  }
}
.header__burger {
  height: 3em;
  width: 3em;
  position: relative;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s all;
}
.header__burger .header__burger-lines {
  top: 50%;
}
.header__burger .header__burger-lines::after {
  left: 0;
  top: -1em;
}
.header__burger .header__burger-lines::before {
  left: 1em;
  top: 1em;
}
.header__burger .header__burger-lines, .header__burger .header__burger-lines::after, .header__burger .header__burger-lines::before {
  pointer-events: none;
  display: block;
  content: "";
  width: 75%;
  border-radius: 0.25em;
  background-color: white;
  height: 0.25em;
  position: absolute;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.header__burger.burguer-slip .header__burger-lines::after, .header__burger.burguer-slip .header__burger-lines::before {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.header__burger.burger-slip.open .header__burger-lines {
  -webkit-transform: translateX(-2em);
  -ms-transform: translateX(-2em);
  transform: translateX(-2em);
  background-color: transparent;
}
.header__burger.burger-slip.open .header__burger-lines::before, .header__burger.burger-slip.open .header__burger-lines::after {
  left: 0.5em;
  top: 0;
}
.header__burger.burger-slip.open .header__burger-lines::before {
  -webkit-transform: translateX(2em) rotate(135deg);
  -ms-transform: translateX(2em) rotate(135deg);
  transform: translateX(2em) rotate(135deg);
}
.header__burger.burger-slip.open .header__burger-lines::after {
  -webkit-transform: translateX(2em) rotate(-135deg);
  -ms-transform: translateX(2em) rotate(-135deg);
  transform: translateX(2em) rotate(-135deg);
}

.about__container {
  background: #1E1E1E;
}
.about__h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  padding-top: 3rem;
  color: #E7E8E9;
  text-align: center;
}
.about__info {
  display: flex;
  align-items: center;
}
@media (min-width: 375px) and (max-width: 540px) {
  .about__info {
    display: block;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .about__info {
    display: block;
  }
}
.about__my {
  display: flex;
  align-items: center;
  height: 400px;
}
@media (min-width: 375px) and (max-width: 540px) {
  .about__my {
    height: 200px;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .about__my {
    height: 250px;
  }
}
.about__picture {
  width: 20rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .about__picture {
    width: 50%;
    margin: auto;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .about__picture {
    margin: auto;
  }
}
.about__informations {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 100%;
  height: auto;
}
@media (min-width: 375px) and (max-width: 540px) {
  .about__informations {
    width: auto;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .about__informations {
    width: auto;
  }
}
.about__text {
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  color: #E7E8E9;
  font-size: 1.1rem;
  margin: 0.5rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .about__text {
    width: auto;
    padding: 0.5rem;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .about__text {
    width: auto;
    padding: 1rem;
  }
}

.skills {
  background: #1E1E1EEA;
  height: auto;
}
@media (min-width: 375px) and (max-width: 540px) {
  .skills {
    height: auto;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .skills {
    height: auto;
  }
}
.skills__container {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  padding: 2rem;
  margin-top: 3rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .skills__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .skills__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.skills__experience {
  font-family: "Roboto", sans-serif;
  color: #E7E8E9;
  text-align: center;
  padding: 1rem;
  font-size: 1.8rem;
}
.skills__learning {
  padding: 1rem;
}
.skills__skills {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #E7E8E9;
  font-size: 1.8rem;
  padding-top: 3rem;
}
.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
}
@media (min-width: 375px) and (max-width: 540px) {
  .skills__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .skills__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.skills__badges {
  display: flex;
  align-items: center;
  padding: 2rem;
  position: relative;
  width: 70%;
  height: auto;
  margin: 0.5rem;
  border-radius: 25px;
  background-color: #1E1E1EEA;
  overflow: hidden;
  transition: 0.5s;
}
.skills__badges::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: #0C0B0E;
  border-radius: 20px;
}
.skills__badges .html::before {
  background: #FC4503;
}
.skills__badges .css::before {
  background: #1572B6;
}
.skills__badges .sass::before {
  background: #9C5076;
}
.skills__badges .js::before {
  background: #F0DB4F;
}
.skills__badges .vue::before {
  background: #41B883;
}
.skills__badges .ts::before {
  background: #007ACC;
}
@media (min-width: 375px) and (max-width: 540px) {
  .skills__badges {
    width: 80%;
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .skills__badges {
    width: 90%;
    height: auto;
  }
}
.skills__badges .skills__card::before {
  content: "";
  position: absolute;
  width: 6rem;
  left: 4.5rem;
  top: -50%;
  height: 50rem;
  animation: bars 10s linear 0s infinite;
}
.skills__img {
  width: 2.5rem;
  height: auto;
  z-index: 1;
}
.skills__bars {
  margin-left: 1vw;
  height: 4rem;
  width: 0.4rem;
  border-radius: 0.37rem;
  background-color: #233F6A;
  z-index: 1;
}
@media (min-width: 375px) and (max-width: 540px) {
  .skills__bars {
    margin-left: 3vw;
  }
}
.skills__infos {
  margin-left: 1rem;
  color: #E7E8E9;
  z-index: 1;
}
.skills__language {
  text-transform: uppercase;
  font-size: 1rem;
}
.skills__text {
  padding-top: 1rem;
  font-size: 0.7rem;
  line-height: 1rem;
  letter-spacing: 0.5px;
}

.portfolio {
  background: #1E1E1E;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #E7E8E9;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.portfolio__infos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .portfolio__infos {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 541px) and (max-width: 999px) {
  .portfolio__infos {
    grid-template-columns: repeat(1, 1fr);
  }
}
.portfolio__content {
  width: 300px;
  height: 400px;
  background: #000;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease;
  backface-visibility: hidden;
  margin-bottom: 1rem;
  border: 2px solid #E7E8E9;
}
.portfolio__content:hover {
  transform: translateY(-10px) scale(1);
  box-shadow: 5px 5px #E7E8E9;
}
.portfolio__content::after {
  width: 100%;
  content: "";
  left: 0px;
  bottom: 0px;
  height: 150px;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black);
  z-index: 20;
  transition: all 0.25s ease;
}
.portfolio__content:hover::after {
  height: 280px;
}
.portfolio__img {
  height: 100%;
  z-index: 10;
  transition: all 0.25s ease;
}
.portfolio__img:hover {
  transform: scale(1.25);
}
.portfolio__container {
  z-index: 30;
  position: absolute;
  bottom: 0px;
  color: #E7E8E9;
  padding: 20px;
  padding-bottom: 30px;
}
.portfolio__h2 {
  color: #E7E8E9;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2;
  text-transform: capitalize;
  margin-top: -1rem;
}
.portfolio__text {
  font-size: 0.8rem;
  opacity: 0;
  margin-bottom: -170px;
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.portfolio__content:hover .portfolio__container .portfolio__text {
  margin-bottom: 0px;
  opacity: 1;
}
.portfolio__input {
  padding: 7px 17px;
  border-radius: 12px;
  background: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  margin-top: 10px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.25s ease;
  font-size: 0.75rem;
  outline: none;
}
.portfolio__input:hover {
  background: #FFFFFF;
  color: #000000;
}

.btn {
  display: grid;
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: #233F6A;
  width: 3rem;
  height: 3rem;
  place-items: center;
  border-radius: 0.5rem;
  color: #E7E8E9;
  visibility: hidden;
  z-index: 100;
  text-decoration: none;
}
.btn:hover {
  cursor: pointer;
  background-color: #1A293F;
  transition: 1s;
}
.btn.show {
  opacity: 1;
  visibility: visible;
}

.animation {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
}
.animation__scroll {
  color: #E7E8E9;
  margin: 0.5rem;
}
.animation__mouse {
  display: flex;
  width: 25px;
  height: 50px;
  border: 2px solid #FFF;
  border-radius: 20px;
}
.animation__mouse-wheel {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #FFF;
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}
@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}

.preloader {
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #E7E8E9;
  z-index: 999;
  transition: all 3s;
}

.hide-preloader {
  z-index: 999;
  visibility: hidden;
}

@keyframes bars {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #394E6D;
  color: #E7E8E9;
  height: 15rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
}
.footer__name {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  padding: 0.5rem;
}
.footer__name_bold {
  font-weight: bold;
}
.footer__copy, .footer__rights {
  font-size: 0.7rem;
  padding: 0.5rem;
}
.footer__links {
  text-decoration: none;
}
.footer__github, .footer__codepen, .footer__linkedin, .footer__email {
  width: 2.5rem;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1.8rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .footer__github, .footer__codepen, .footer__linkedin, .footer__email {
    width: 2rem;
  }
}
.footer__github:hover, .footer__codepen:hover, .footer__linkedin:hover, .footer__email:hover {
  transform: scale(1.1);
}

html, body {
  font-family: "Arima", cursive;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1E1E1EEA;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: #394E6D;
  border-radius: 30px;
  visibility: visible;
}

/*# sourceMappingURL=style.css.map */
