.about {
    &__container {
        background: $dark-gray;
    }

    &__h2 {
        font-family: $fontRoboto;
        font-size: 1.8rem;
        padding-top: 3rem;
        color: $white;
        text-align: center;
    }

    &__info {
        display: flex;
        align-items: center;

        @include for-phone-only {
            display: block;
        }
        
        @include for-tablet-only {
            display: block;
        }
    }

    &__my {
        display: flex;
        align-items: center;
        height: 400px;

        @include for-phone-only {
            height: 200px;
        }

        @include for-tablet-only {
            height: 250px;
        }
    }

    &__picture {
        width: 20rem;
        
        @include for-phone-only {
            width: 50%;    
            margin: auto;
        }

        @include for-tablet-only {
            margin: auto;
        }
    }

    &__informations {
        display: flex;
        flex-direction: column;
        width: 60%;
        max-width: 100%;
        height: auto;

        @include for-phone-only {
            width: auto;
        }

        @include for-tablet-only {
            width: auto;
        }
    }

    &__text {
        line-height: 1.5rem;
        letter-spacing: .5px;
        color: $white;
        font-size: 1.1rem;
        margin: .5rem ;

        @include for-phone-only {
            width: auto;
            padding: .5rem;
        }

        @include for-tablet-only {
            width: auto;
            padding: 1rem;
        }
    }
}