.about {
    margin-top: -4rem;

    @include for-phone-only {
        margin-top: -2.4rem;
    }

    @include for-tablet-only {
        margin-top: -1rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $dark-gray;
        height: auto;
    }

    &__h2 {
        font-size: 1.8rem;
        padding-top: 3rem;
        color: $white;
        text-align: center;
    }

    &__my {
        display: flex;
        justify-content: center;
    }

    &__picture {
        width: 20rem;

        @include for-phone-only {
            width: 50%;    
            margin: auto;
        }

        @include for-tablet-only {
            width: 40%;
            margin: auto;
        }
    }

    &__informations {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__text {
        width: 50%;
        line-height: 2rem;
        color: $white;
        font-size: 1.1rem;
        margin: .5rem ;

        @include for-phone-only {
            width: auto;
            padding: 1rem;
        }

        @include for-tablet-only {
            width: auto;
            padding: 1rem;
        }
    }
}