.animation {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem;

    &__scroll {
        color: $white;
        margin: .5rem;
    }

    &__mouse {
        display: flex;
        width: 25px;
        height: 50px;
        border: 2px solid #FFF;
        border-radius: 20px;
    }
      
    &__mouse-wheel {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #FFF;
        border-radius: 50%;
        margin: auto;
        animation: move-wheel 1s linear infinite;

        @keyframes move-wheel {
            0% {
                opacity: 0;
                transform: translateY(-1rem);
            }
        }
    }  
}