.header {
    min-height: 100vh;
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)), url(../images/header.jpeg) center/cover no-repeat;
    
    &__container {
        background-color: #040e16d4;
    }

    &__navbar {

        width: 90vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        &-fixed {
            padding: 1.5rem 0;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $background;
            box-shadow: $light-shadow;
            z-index: 999 !important;
        }
        
        &-fixed .header__link {
            color: $white;
        }

        @include for-phone-only {
            display: block;
        }

        @include for-tablet-only {
            display: block;
        }
    }

    &__action {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        height: 100px;
    }

    &__button {
        display: none;
        font-size: 1.5rem;
        color: $white;
        background: transparent;
        border-color: transparent;
        transition: all .3s linear;
        cursor: pointer;

        @include for-phone-only {
            display: block;
        }

        @include for-tablet-only {
            display: block;
        }
    }

    &__links-container {
        transition: all .3s linear;

        @include for-phone-only {
            overflow: hidden;
        }

        @include for-tablet-only {
            overflow: hidden;
        }
    }
    
    &__list {
        display: flex;
        font-size: 1.8rem;
        padding: 2rem;

        @include for-phone-only {
            display: block;
        }

        @include for-tablet-only {
            display: block;
        }
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        position: relative;
        padding: 1rem 1rem;
        font-size: 1.1rem;
        text-transform: capitalize;
        letter-spacing: .25rem;
        transition: all .3s linear;
        font-weight: bold; 
        color: $white;   

        &::after {
            content : '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: $white;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .5s;
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-height: 100vh;
        background: #00000070;
    }

    &__tittle {
        font-size: 3rem;
        color: $white;
        font-family: $fontRoboto;

        &_bold {
            font-weight: bold;
        }
    } 

    &__effect {
        font-weight: 500;
        font-size: 1.8rem;
        padding: 1rem;
        color: $white;
    }

    &__wrapper {
        a {
            color: $white;
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        transition: all .3s;
    }

    &__btn {
        font-size: 2rem; 
        text-align: center;
        display: inline-block; 
        cursor: pointer; 
        margin: 1rem 0.5rem 0rem 0rem; 
        width: 80px; 
        height: 80px; 
        line-height: 84px; 
        border-radius: 50%; 
        position: relative; 
        color: $white;
        background-color: rgba(255, 255, 255, 0.1); 
        transition: 300ms; 

        &::after {
            pointer-events: none;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            content: '';
            box-sizing: content-box;
            box-shadow: 0 0 0 3px $white;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 300ms;
        }

        &:hover {
            background-color: $white;
            color: $dark-gray;
        }

        &:hover::after {
            opacity: 1;
            transform: scale(1.15);
        }
    }
}