.header {

    &__button {
        display: none;
        color: $white;
        background: transparent;
        border-color: transparent;
        cursor: pointer;

        @include for-phone-only {
            display: block;
        }

        @include for-tablet-only {
            display: block;
        }
    }
    
    &__burger {
        height: 3em;
        width: 3em;
        position: relative;
        font-size: 12px;
        cursor: pointer;
        transition: 0.2s all;
    }
    
    &__burger &__burger-lines {
        top: 50%;

        &::after {
            left: 0;
            top: -1em;
        }

        &::before {
            left: 1em;
            top: 1em;
        }
    }
    
    &__burger &__burger-lines, &__burger &__burger-lines::after, &__burger &__burger-lines::before {
        pointer-events: none;
        display: block;
        content: '';
        width: 75%;
        border-radius: 0.25em;
        background-color: white;
        height: 0.25em;
        position: absolute;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
    
    &__burger.burguer-slip &__burger-lines::after,&__burger.burguer-slip &__burger-lines::before{  
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s; 
    }
    
    &__burger.burger-slip.open &__burger-lines {
        -webkit-transform: translateX(-2em);
        -ms-transform: translateX(-2em);
        transform: translateX(-2em);
        background-color: transparent;
    }
    
    &__burger.burger-slip.open &__burger-lines::before, &__burger.burger-slip.open &__burger-lines::after {
        left: 0.5em;
        top: 0;
    }
    
    &__burger.burger-slip.open &__burger-lines::before {
        -webkit-transform: translateX(2em) rotate(135deg);
        -ms-transform: translateX(2em) rotate(135deg);
        transform: translateX(2em) rotate(135deg);
    }
    
    &__burger.burger-slip.open &__burger-lines::after {
        -webkit-transform: translateX(2em) rotate(-135deg);
        -ms-transform: translateX(2em) rotate(-135deg);
        transform: translateX(2em) rotate(-135deg);
    }   
}