.skills {
    background: $light-gray; 
    height: auto;

    @include for-phone-only {
        height: auto;
    }

    @include for-tablet-only {
        height: auto;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        font-size: 1.8rem;
        padding: 2rem;
        margin-top: 3rem;

        @include for-phone-only {
            grid-template-columns: repeat(1,1fr);
        }

        @include for-tablet-only {
            grid-template-columns: repeat(1,1fr);
        }
    }

    &__skills {
        text-align: center;
        color: $white;
        font-size: 1.8rem;
        padding-top: 3rem;
    }

    &__list {
        position: relative;
        display: inline-block;
        padding: 30px;
        margin: 0 auto;
    }

    &__experience {
        color: $white;
        text-align: center;
        padding: 1rem;
        font-size: 1.8rem;
    }

    &__badges {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
    }

    &__img {
        width: 15%;
    }
}