@import url('https://fonts.googleapis.com/css2?family=Arima&family=Roboto&display=swap');

/* Variáveis de cores do site */
$white: #E7E8E9;
$medium-blue: #394E6D;
$button-hover: #1A293F;
$background: #233F6A;
$light-gray: #1E1E1EEA;
$dark-gray: #1E1E1E;   
$light-shadow: 0 5px 15px #0000001A; 
$fontRoboto: 'Roboto', sans-serif;

/* Mixin para deixar a página responsiva.*/
@mixin for-phone-only {
    @media (min-width: 375px) and (max-width: 540px) { @content; }
}

@mixin for-tablet-only {
    @media (min-width: 541px) and (max-width: 999px) { @content; }
}

/* Importa os outros arquivos de estilização da página */
@import 'header', 'navButton', 'about', 'skills', 'portfolio', 'button', 'animation' ,'footer'; 

html,body {
    font-family: 'Arima', cursive;
    scroll-behavior: smooth;
}   

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $light-gray;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: $medium-blue;
    border-radius: 30px;
    visibility: visible;
}

.preloader {
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white;
    z-index: 999;
    transition: all 3s;
}

.hide-preloader {
    z-index: 999;
    visibility: hidden;
}