@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variáveis de cores do site */
$white: #E7E8E9;
$medium-blue: #394E6D;
$button-hover: #1A293F;
$background: #233F6A;
$light-gray: #1E1E1EEA;
$dark-gray: #1E1E1E;   
$light-shadow: 0 5px 15px #0000001A; 

/* Mixin para deixar a página responsiva.*/
@mixin for-phone-only {
    @media (min-width: 375px) and (max-width: 540px) { @content; }
}

@mixin for-tablet-only {
    @media (min-width: 541px) and (max-width: 999px) { @content; }
}

/* Importa os outros arquivos de estilização da página */
@import 'header', 'about', 'skills', 'portfolio', 'button', 'animation' ,'footer'; 

html,body {
    font-family: 'Roboto', serif;
    scroll-behavior: smooth;
}   

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $light-gray;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: $medium-blue;
    border-radius: 30px;
    visibility: visible;
}

.preloader {
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white;
    z-index: 999;
    transition: all 3s;
}

.hide-preloader {
    z-index: 999;
    visibility: hidden;
}

.main {
    text-align: center;
    
    &__content {
        position: relative;
    }

    &__tittle {
        font-size: 3rem;
        color: $white;
        margin-top: -25rem;

        @include for-tablet-only {
            margin-top: -28rem;
        }

        &_bold {
            font-weight: bold;
        }
    } 

    &__effect {
        font-weight: 500;
        font-size: 1.8rem;
        padding: 1rem;
        color: $white;
    }

    &__social {
        display: flex;
        justify-content: center;
        transition: all .3s;

        :hover {
            transform: scale(1.1);
        }
    }

    &__github, &__codepen, &__linkedin, &__email {
        width: 4.5rem;
        margin-top: 2rem;
        padding: 1rem; 
        border-radius: 1.8rem;

        @include for-phone-only {
            width: 3rem;
        }
    }
}